@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-style: italic;
    color: teal;
}

.addIngredientForm {
    @include flex-col;
    gap: 1rem;
    .formItem {
        @include flex-row;
        justify-content: space-between;
        .formLabel {
            font-size: 1.2rem;
            font-weight: 600;
            color: teal;
        }
        .formInput {
            max-width: 50%;
            padding: 0.5rem;
            border: 1px solid grey;
            border-radius: 5px;
            font-size: 1rem;
        }
    }
}