package-lock.json
node_modules/
.env
frontend/foodlisting/package-lock.json
MVCSCRUDs/scruds.xlsx
MVCSCRUDs/~$scruds.xlsx
frontend/foodlisting/public/styles/main.css
frontend/foodlisting/public/styles/main.css.map
backend/.env.local
.gitignore
.env.local
package.json
