@mixin box-shadow($offset-x, $offset-y, $blur-radius, $spread-radius, $color) {
    box-shadow: #{$offset-x}px #{$offset-y}px #{$blur-radius}px #{$spread-radius}px #{$color};
  }
@mixin box-shadow-grey {
    @include box-shadow(5, 5, 20, 2, grey);
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin listContainer {

    margin-right: 2vw;
    height: 80%;
    overflow-y: auto;
    padding: 0 1vw;
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    
}